

h3:nth-child(odd){
    font-style: italic;
 }


div:hover{
 border: solid 2px black;

}

div:nth-of-type(1) > h3{
    color: blue;
}

div:nth-of-type(2) > h3{
    color: brown;
}

div:nth-of-type(3) > h3{
    font-size: 35px;
    color: darkmagenta;
}

div:nth-of-type(4) > h3{
    color: cornflowerblue;
}

div:nth-of-type(5) > h3{
    color: darkblue;
}


div:hover:nth-of-type(1) {
    color: rgb(207, 16, 191);
}

div:hover:nth-of-type(2) {
    color: rgb(0, 38, 255);
}

div:hover:nth-of-type(3) {
    color: rgb(0, 255, 21);
}

div:hover:nth-of-type(4) {
    color: rgb(255, 38, 0);
}

div:hover:nth-of-type(5) {
    color: rgb(251, 255, 0);
}


div:nth-child(odd) h3{
    background-color: red;
 }