.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
    left: 320px;
    top: 120px;
    z-index:1 ;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    left: 580px;
    top: 230px;
  }